<div class="col-lg-3 mb-4">
    <div class="product-item">
        <div class="product-title">
            <a href="/course-list?categoryName={{this.name}}&score=-1">{{this.name}}</a>
        </div>
    </div>
</div>