<div class="col-lg-3 mb-4">
    <div class="product-item">
        <div class="product-title">
            <a href="#">Product Name</a>
        </div>
        <div class="product-image">
            <a href="product-detail.hbs">
                <img src="img/product-6.jpg" alt="Product Image">
            </a>
        </div>
    </div>
</div>