<div class="reviews-submitted">
    <div class="reviewer">Tat Hung Nguyen - <span>12 Dec 2020</span></div>
    <div class="ratting">
        <i class="fa fa-star"></i>
        <i class="fa fa-star"></i>
        <i class="fa fa-star"></i>
        <i class="fa fa-star"></i>
        <i class="fa fa-star"></i>
    </div>
    <p>
        Sản phẩm rất ngon
    </p>
</div>