<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>EMAIL CONFIRM SUCCESS</title>
</head>
<body>
    <center>
        <h1>{{message}}</h1>
        <a href="/login">Click here to sign in to your account!</a>
    </center>
</body>
</html>